
bin/
obj/
[Dd]ebug/
[Rr]elease/
[Dd]ebugPublic/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Ll]og/


*.nuget.props
*.nuget.targets
packages/
project.lock.json
project.assets.json


.vs/
.vscode/
*.sln
*.csproj.user
*.user
*.suo
*.tmp
*.cache
*.ilk
*.pch
*.vspscc
*.scc
*.opensdf
*.sdf
*.ipch
*.psess
*.VC.db
*.VC.VC.opendb


.idea/
*.dotSettings.user


*.lock.json
appsettings.Development.json


*.nupkg

*.DS_Store
Thumbs.db
desktop.ini
